apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-helloworld-golang
  labels:
    app: backend-helloworld-golang
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-helloworld-golang
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: backend-helloworld-golang
    spec:
      containers:
        - image: '081324788528.dkr.ecr.ap-southeast-1.amazonaws.com/taiyalu:latest'
          imagePullPolicy: Always
          name: backend-helloworld-golang
          ports:
            - containerPort: 8080
              protocol: TCP
---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-helloworld-golang-hpa
  namespace: default
spec:
  maxReplicas: 10
  minReplicas: 3
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend-helloworld-golang
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 5
